*{
  min-width: 0;
  min-height: 0;
}
header{
  display: flex;
  justify-content: space-around;
}
h1{
  font-size: 60pt;
  text-align: center;
  margin-top: 30px;
  color: white;
  margin-bottom: 10px;
  margin-left: 30px;
}
li{
  list-style: none;
  color: white;
  font-size: 28pt;
  margin: 20px 0;
  margin-left: 30px; 
  margin-bottom: 0px;
}
body{
  background-image: url(../img/sirokuma.jpg);
  font-family: "Nico Moji";
  background-size: contain;
  background-repeat: repeat;
}
a{
  color: white;
  text-decoration: none;
}
a:hover{
  color: #FFC20E;
}
.menu {
  margin-top:140px;
}
.container {
  margin-left: 45px;
  width:500px;
  height:100px;
  color: #333;
}
.main-char{
  margin: auto 0;
  width: 32%;
  height: 32%;
  animation: popup 2.0s cubic-bezier(0.22, 1, 0.36, 1) 1 forwards;
}
@keyframes popup {
  0% {
    transform: translateY(40px) scale(0.8);
    opacity: 0;
  }
  100% {
    transform: translateY(0) scale(1.0);
  }
  80%, 100% {
    opacity: 1;
  }
}

/*----------Slickの設定----------*/
.slick-slide {
  text-align: center;
  color: #419be0;
  background: white;
}

/*----------スマホ対応----------*/
@media(max-width:700px){
  h1{
    font-size: 60pt;
    margin-top: 100px;
    text-align: center;
    margin-left: 0;
  }
  li{
    float: none;
    font-size: 18pt;
    width: 100%;
    margin-top: 60px;
    text-align: center;
    margin-left: 0;
  }
  .main-char{
    display: none;
  }
  
}
