/*-----------------共通部分-------------------------*/
/*--------ヘッダー---------*/

#header-content{
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 5px;
  padding-bottom: 10px;
  clip-path: polygon(0 0, 100% 0, 100% 60%, 0 100%);
}
.title-logo{
  display: none;
}

.header-menu{
  display: flex;
  margin-right: -40px;
  margin-top: 60px
  
}
li.mainNav{
  list-style: none;
  font-family: "Nico Moji";
  font-size: 18pt;
  margin-left: 40px;
  
}

a.headerNav:hover{
  color: #FFC20E;
  
}

a.headerNav{
  text-decoration: none;
  color: #3CB5E0;
  font-weight: bold;
}
a.foot{
  text-decoration: none;
  color: white;
}
a.foot:hover{
  border-bottom: solid 1px;
  border-color: white;
  
}
nav{
  margin-left: 50px;
  margin-right: 50px;
}

/*--------フッター---------*/
footer{
  color: white;
  background-color: #202020;
  padding-top: 20px;
  margin-top: 50px;
}
li{
  list-style: none;
}
.copy{
  padding: 10px 0px;
  margin-top: 20px;
  text-align: center;
  background-color: black;
}
/*--------ページ共通---------*/
body{
  background-image: url(../img/sirokuma.jpg);
  background-size: contain;
  background-repeat: repeat;
}
#mainContent{
  background: rgba(255, 255, 255, .2);
  color: white;
  border-radius: 12px;
  padding: 20px 0px;
  margin: auto;
  width: 95vw;
  max-width: 1300px;
}
h3{
  text-align: center;
  font-size: 36pt;
  color: white;
  margin-top: 80px;
  margin-bottom: 30px;
}
/*-----------------しろくまlabとは-------------------------*/
#gaiyo{
  font-size: 1.5rem;
  margin: 0 100px;
}
#gaiyoImg{
  text-align: center;
  margin-top: 50px;
}
#sirokumaTop{
  width: 90vw;
  max-width: 1100px;
  max-height: 600px;
}
#bucho{
  width: 300px;
  height: 300px;
}

#sensei{
  border-radius: 25%;
  width: 300px;
  height: 300px;
}
#buinn{
  width: 300px;
  height: 300px;
  border-radius: 50%;
}

/*-----------------ここからかつどうないよう-------------------------*/
.katudou{
  display: flex;
  margin: 0px 50px;
  margin-bottom: 70px;
}
.katudoImg{
  max-width: 600px;
}



.katudouComent{
  margin-left: 70px;
  font-size: 1.2rem;
  background-color: rgba(0, 0, 128, 0.2);
  padding: 20px;
  border-radius: 12px;
  
}
h4{
  font-size: 24pt;
  margin-left: 50px;
  margin-bottom: 20px;
  border-bottom: #FFC20E solid 1px;
  border-left: #FFC20E solid 15px;
  padding-left: 10px;
  margin-right: 50px;
  margin-top: 50px;
}
/*-----------------ここからさくひんしょうかい-------------------------*/
h5{
  font-size: 24pt;
  text-align: center;
  margin-top: 20px;
}

.sakuhinComent{
  font-size: 15pt;
  background-color: rgba(0, 0, 128, 0.2);
  padding: 20px;
  border-radius: 12px;
  margin-top: 30px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 100px;
}
a.start{
  text-decoration: none;
  color: white;
  font-size: 16pt;
  font-weight: bold;
}
button.startBtn{
  background-color: #56aa25;
  padding: 10px;
  border-radius: 12px;
  margin-top: 10px;
}
button.startBtn:hover{
  background-color:	#5d9a45;
}
.btnArea{
  text-align: center;
}

.sakuhinImgList{
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}
.sakuhinImg{
  width: 390px;
}
/*-----------------ここからおといあわせ-------------------------*/
#otoiawase{
  text-align: center;
}
#fujii-ir{
  width: 330px;
  height: 490px;
}



/*-----------------Topへ戻るボタン-------------------------*/
#t-scroll {
  position:fixed;
  bottom:20px;
  right:10px;
  
}
#t-scroll a {
  background-color:#FFC20E;
  color:white;
  text-align:center;
  text-decoration:none;
  padding:10px 15px;
  font-size: 20pt;  
  font-weight: bold;
}
#t-scroll a:hover {
  text-decoration:none;
  background-color: #F0DC70;
}
/*-----------------アンダーライン-------------------------*/
.Text-Span {
  position: relative;
  z-index: 1;
}
.Text-Span:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0%;
  height: 8px;
  background: #FFC20E;
  z-index: -1;
  transition: all 1.5s;
}
.Text-Span.isActive:after {
  width: 100%;
}

/*-----------------メッセージ-------------------------*/
.message {
  position: relative;
  display: inline-block;
  margin: 2em 0 1.5em 15px;
  padding: 7px 10px;
  min-width: 120px;
  max-width: 600px;
  color: #555;
  font-size: 16px;
  background: #FFF;
  border: solid 3px #555;
  box-sizing: border-box;
  max-height: 250px;
  border-radius: 10px;
}

.message:before {
  content: "";
  position: absolute;
  top: 50%;
  left: -24px;
  margin-top: -12px;
  border: 12px solid transparent;
  border-right: 12px solid #FFF;
  z-index: 2;
}

.message:after {
  content: "";
  position: absolute;
  top: 50%;
  left: -30px;
  margin-top: -14px;
  border: 14px solid transparent;
  border-right: 14px solid #555;
  z-index: 1;
}

.message p {
  margin: 0;
  padding: 0;
}
.memberComent{
  display: flex;
  justify-content: center;
}

#message1{
  font-size: 20pt;
  padding: 70px 10px 0px;
}
#message2{
  padding: 5px 10px;
  font-size: 16pt;
}
#message3{
  font-size: 18pt;
  padding: 20px 10px 0px;
}
.message-right {
  position: relative;
  display: inline-block;
  margin: 2em 15px 1.5em 0;
  padding: 10px 10px;
  min-width: 120px;
  max-width: 600px;
  color: #555;
  font-size: 16px;
  background: #FFF;
  border: solid 3px #555;
  box-sizing: border-box;
  max-height: 350px;
  border-radius: 10px;
}

.message-right:before {
  content: "";
  position: absolute;
  top: 50%;
  right: -24px;
  margin-top: -12px;
  border: 12px solid transparent;
  border-left: 12px solid #FFF;
  z-index: 2;
}

.message-right:after {
  content: "";
  position: absolute;
  top: 50%;
  right: -30px;
  margin-top: -14px;
  border: 14px solid transparent;
  border-left: 14px solid #555;
  z-index: 1;
}

.message-right p {
  margin: 0;
  padding: 0;
}
.otoiawaseMessage {
  position: relative;
  display: inline-block;
  margin: 5em 0 1.5em 15px;
  padding: 7px 10px;
  min-width: 120px;
  max-width: 600px;
  color: #555;
  font-size: 16px;
  background: #FFF;
  border: solid 3px #555;
  box-sizing: border-box;
  max-height: 250px;
  border-radius: 10px;
}

.otoiawaseMessage:before {
  content: "";
  position: absolute;
  top: 50%;
  left: -24px;
  margin-top: -12px;
  border: 12px solid transparent;
  border-right: 12px solid #FFF;
  z-index: 2;
}

.otoiawaseMessage:after {
  content: "";
  position: absolute;
  top: 50%;
  left: -30px;
  margin-top: -14px;
  border: 14px solid transparent;
  border-right: 14px solid #555;
  z-index: 1;
}

.otoiawaseMessage p {
  margin-bottom: 25px;
  padding: 0;
  font-size: 20pt;
}
.otoiawaseMessage a{
  text-decoration: none;
  color: #000;
}
.otoiawaseMessage a:hover{
  color: blue;
  border-bottom: blue solid 2px;
}

#comentList{
  margin-top: 50px;
}
.member-right p{
  text-align: right;
}
/*-----------------スマホ対応-------------------------*/
@media(max-width:700px){
  /*--------共通部分---------*/
  header{
    display: flex;
    padding-bottom: 5px;
    background-color: black;
    height: 70px;
  }
  .title-logo{
    display: inline;
    text-decoration: none;
  }
  .title-logo h1{
    font-family: "Nico Moji";
    font-size: 24pt;
    color: white;
    margin-top: 10px;
  }
  .logo{
    display: none;
  }
  #mainContent{
    background: rgba(255, 255, 255, .2);
    color: white;
    border-radius: 12px;
    padding: 20px 0px;
    margin: auto;
    max-width: 40rem;
  }
  h3{
    font-size: 1.5rem;
    margin-top: 60px;
  }
  #header-content{
    display: inline;
    justify-content: space-between;
    clip-path: none;
    background-color: black;
  }
  .header-menu{
    display: inline;
    margin-right: 0px;
    
  }
  a.headerNav:hover{
    color: white;
    border-bottom: none;
  }
  a.headerNav{
    color: white;
  }
  li.mainNav{
    list-style: none;
    font-family: "Nico Moji";
    font-size: 15pt;
    margin-bottom: 15px;
  }
  nav{
    margin-right: 0px;
    margin-left: 0px;
  }
  .footer-menu{
    margin-left: 20px;
  }
  #t-scroll a {
    padding:6px 10px;
    font-size: 15pt;

  }
  #t-scroll a:hover {
    text-decoration:none;
    background-color: #FFC20E;
  }
  .img-pos{
    text-align: center;
  }

  
  /*--------ハンバーガーメニュー---------*/
  /*============
  nav
  =============*/
  nav#header-nav {
    display: block;
    position: fixed;
    top: 0;
    left: -300px;
    bottom: 0;
    width: 300px;
    background: black;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    transition: all .5s;
    z-index: 4;
    opacity: 0;
  }
  .open nav#header-nav {
    left: 0;
    opacity: 1;
  }
  nav#header-nav .header-menu {
    padding: 25px;
  }
  nav#header-nav .header-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  nav#header-nav .header-menu ul li {
    position: relative;
    margin: 0;
    border-bottom: 1px solid #333;
  }
  nav#header-nav .header-menu ul li a {
    display: block;
    color: #333;
    font-size: 14px;
    padding: 1em;
    text-decoration: none;
    transition-duration: 0.2s;
  }
  nav#header-nav .header-menu ul li a:hover {
    background: #e4e4e4;
  }
  @media screen and (max-width: 767px) {
    nav#header-nav {
      left: -220px;
      width: 220px;
    }
  }
  
  /*============
  .toggle_btn
  =============*/
  .toggle_btn {
    display: block;
    position: absolute;
    top: 10px;
    right: 30px;
    width: 30px;
    height: 30px;
    transition: all .5s;
    cursor: pointer;
    z-index: 4;
    margin-top:10px;
  }
  .toggle_btn span {
    display: block;
    position: absolute;
    left: 0;
    width: 30px;
    height: 2px;
    background-color: white;
    border-radius: 4px;
    transition: all .5s;
  }
  .toggle_btn span:nth-child(1) {
    top: 4px;
  }
  .toggle_btn span:nth-child(2) {
    top: 14px;
  }
  .toggle_btn span:nth-child(3) {
    bottom: 4px;
  }
  .open .toggle_btn span {
    background-color: white;
  }
  .open .toggle_btn span:nth-child(1) {
    -webkit-transform: translateY(10px) rotate(-315deg);
    transform: translateY(10px) rotate(-315deg);
  }
  .open .toggle_btn span:nth-child(2) {
    opacity: 0;
  }
  .open .toggle_btn span:nth-child(3) {
    -webkit-transform: translateY(-10px) rotate(315deg);
    transform: translateY(-10px) rotate(315deg);
  }
  /*============
  #mask
  =============*/
  #mask {
    display: none;
    transition: all .5s;
  }
  .open #mask {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .8;
    z-index: 3;
    cursor: pointer;
  }
  /*--------しろくまlabとは---------*/
  #gaiyo{
    margin: 0 15px;
    font-size: 11pt;
  }
  #gaiyoImg{
    text-align: center;
    margin-top: 20px;
  }
  #sirokumaTop{
    width: 90vw;
    max-width: 610px;
    
  }
  #bucho{
    width: 130px;
    height: 130px;
  }
  #message1{
    font-size: 9pt;
    padding-top: 20px;
  }
  .memberComent{
    margin: 10px 10px;
  }
  .member-left{
    font-size: 7pt;
  }
  .member-right{
    margin-top: 50px;
    font-size: 7pt;
  }
  .message{
    margin-top: 0px;
  }
  .message-right{
    margin-top: 0px;
  }
  #sensei{
    width: 130px;
    height: 130px;
  }
  #message2{
    font-size: 8pt;
  }
  #buinn{
    width: 130px;
    height: 130px;
  }
  #message3{
    font-size: 10pt;
    padding: 15px 10px 0px;
  }
  /*--------かつどうないよう---------*/
  .katudou{
    display: inline;
    margin: 0 auto;
    margin-bottom: 70px;
  }

  .katudoImg{
    width: 90vw
  }
  .katudouComent{
    margin: 0 auto;
    font-size: 10pt;
    background-color: rgba(0, 0, 128, 0.2);
    padding: 20px;
    border-radius: 12px;
    width: 90vw;
  }

  h4{
    font-size: 16pt;
    margin-left: 10px;
    margin-bottom: 20px;
    border-bottom: #FFC20E solid 1px;
    border-left: #FFC20E solid 15px;
    padding-left: 10px;
    margin-right: 10px;
    margin-top: 50px;
  }
  /*--------さくひんしょうかい---------*/
  h5{
    font-size: 16pt;
    text-align: center;
    margin-top: 10px;
  }
  
  .sakuhinComent{
    font-size: 10pt;
    background-color: rgba(0, 0, 128, 0.2);
    padding: 20px;
    border-radius: 12px;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 100px;
  }
  a.start{
    text-decoration: none;
    color: white;
    font-size: 16pt;
    font-weight: bold;
  }
  button.startBtn{
    background-color: #56aa25;
    padding: 10px;
    border-radius: 12px;
    margin-top: 10px;
  }
  button.startBtn:hover{
    background-color:	#5d9a45;
  }
  .btnArea{
    text-align: center;
    margin-bottom: 20px;
  }
  .sakuhinImgList{
    display: inline;
    margin-top: 30px;
  }
  .sakuhinImg{
    width: 90vw;
  }
  /*--------コラボ---------*/
  .CGsakuhin{
    display:inline;
  }


  /*--------おといあわせ---------*/
  #fujii-ir{
    width: 165px;
    height: 245px;
  }
  .otoiawaseMessage p {
    margin-bottom: 20px;
    padding: 0;
    font-size: 10pt;
  }
  .otoiawaseMessage {
    position: relative;
    display: inline-block;
    margin: 1em 0 1.5em 15px;
    padding: 7px 10px;
    min-width: 120px;
    max-width: 600px;
    color: #555;
    font-size: 16px;
    background: #FFF;
    border: solid 3px #555;
    box-sizing: border-box;
    max-height: 250px;
    border-radius: 10px;
  }

}
/*-----------------タブレット対応-------------------------*/
@media screen and (min-width:701px) and ( max-width:1250px){
  .katudou{
    display: inline;
    margin: 0px auto;
    margin-bottom: 70px;
  }
  .img-pos{
    text-align: center;
  }
  .katudouComent{
    margin: 0 10px;
  }
  


}



