.mainText{
    text-align: center;
    font-size: 400%;
    margin-top: 140px;
    font-weight: bold;
}
.gameButton{
    display: flex;
    margin-top: 50px;
    justify-content: center;
}
#button{
    margin-right: 50px;
}
#button2{
    margin-left: 50px;
}
#start{
    background: #fffacd;
    font-size: 20px;
    padding: 18px 32px;
    color: black;
    border-radius: 10px;
    box-shadow: 0 0 10px gray;
    text-decoration: none;
    font-weight: bold;
 }
#stop{
    background: #fffacd;
    font-size: 20px;
    padding: 18px 32px;
    color: black;
    border-radius: 10px;
    box-shadow: 0 0 10px gray;
    text-decoration: none;
    font-weight: bold;
 }
#button3{
    text-align: center;
    margin-top: 70px;
}
#reset{
    background-color: blue;
    font-size: 20px;
    padding: 18px 32px;
    color: black;
    border-radius: 10px;
    box-shadow: 0 0 10px gray;
    text-decoration: none;
    font-weight: bold;
}